/* Themify Customize Styling */
#footerwrap {	background: none;
	background-color: #ce3e3e; 
}
#footer {	
	color: #fafafa; 
}
#footer a {	
	color: #ffffff; 
}

/* Themify Custom CSS */
.top-bg{
	 transform:skewY(90);

}

.blue-bg{
background-color:#010554;
transform:skewY(90);
}

.info{
border-radius:20px;	
}